<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
    "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰命名自动映射：col_name -> colName -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 指定日志实现为 LOG4J -->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <!-- 为实体类别名，映射文件中可直接写 Student -->
        <package name="com.lab.entity"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url"
                    value="jdbc:mysql://localhost:3306/ssm_edu?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="111111Rr"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 扫描 Mapper 接口所在包，映射文件 XML 需与接口同包同名 -->
        <package name="com.lab.mapper"/>
    </mappers>
</configuration>
